body {
  background-color: #2e8ab4;
}

.Titulos {
  font-size: 20px;
  font-style: italic;
  margin: 1px;
  color: #ffff;
  margin-left: 600px;
}

.opciones {
  font-size: 15px;
  font-style: italic;
  margin: 1px;
  color: rgb(10, 10, 10);
}


.content {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  margin-left: 100px;
  top: 10px;
  margin-right: 100px;
  background-color: white;
  text-align: justify;
  font-size: 16px;
  color: rgb(186, 38, 38);
  letter-spacing: 0.5px;
  font-family: "Encode Sans SC";
  height: 450px;
}


.mostrar {
  padding: 5px;
  background-color: whitesmoke;
  width: 900px;
  position: relative;
  top: 25px;
  margin: auto;
  height: auto;

}


.mostrarAlumnos {
  padding: 5px;
  background-color: whitesmoke;
  width: 175px;
  position: relative;
  top: 20px;
  margin: auto;
  height: 150px;
 
}

#operaciones {
  position: relative;
  left: 400px;
}



.v {
  color: green;
}
.a {
  color: blue;
}
.r {
  color: red;
}