body {
    background-color: #2e8ab4;
   
  }
  
 .Titulos {
     font-size: 20px;
     font-style: italic;
    margin: 1px;
    color: #ffff;
    margin-left: 600px;
    
    
    
   
  }

  .opciones
  {
    font-size: 15px;
     font-style: italic;
    margin: 1px;
    color: rgb(10, 10, 10);
  }


.v{
  color: green;
  text-align: center;
}
.a{
  color: blue;
  text-align: center;
}
.r{
  
  color: red;
  top: 0px;
  margin-top: 20px;
  margin-right: 450px;
}


.content {
	position: relative;
	padding: 20px;
	margin-top: 20px;
	margin-left: 100px;
	top: 10px;
	margin-right: 100px;
	background-color:white;
	text-align: justify;
	font-size: 16px;
	color: rgb(186, 38, 38);
	letter-spacing: 0.5px;
	font-family: "Encode Sans SC";
	height: 450px;
}


.mostrar {
	position:relative;
	padding: 50px;
	margin-top: 20px;
	margin-left: 200px;
	top: -100px;
	margin-right: 200px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: justify;
	font-size: 56px;
	letter-spacing: 0.5px;
	font-family: "Encode Sans SC";
	height: 200px;
}

